header{font-family: 'Shrikhand', cursive;display: flex;background-color: red; text-align: center;flex-wrap: wrap;}
header>nav{flex-basis: 100%;}
header>img{padding: 2rem 2rem 2rem 2rem;}
header>h1{display: block; margin-left: auto; margin-right: auto;}
a{color: black; margin-left: auto; margin-right: auto;padding: 0 5rem 2rem 8rem;}
p{font-family: 'Montserrat', sans-serif;}
h3{font-family: 'Shrikhand', cursive;text-align: center;background-color: red;padding-top: 1rem;padding-bottom: 1rem;}
body{background-color: lightgray;}
#home>img{display: block; margin-left: auto; margin-right: auto; width: 40%;}
#home>p{text-align: center; font-size: larger;}
#about>div>img{display: block;margin-left: auto;margin-right: auto;}
#about>div>h6{text-align: center;}
h2{font-family: 'Shrikhand', cursive;color: blue;}
#products>.drinks, #order>.orderpic{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 2rem; justify-items: center;}
#order>.orderinfo{display: block;text-align: center;margin-left: auto; margin-right: auto;}
#order>.submit{text-align: center;padding-top: 5rem;}
#order>.orderpic img{display:block;width:10rem;align-items: center;padding-bottom: 1rem;}
#contact>p{text-align: center;font-size: larger;}
#order>.orderpic h2{text-align: center; padding-top: 3rem; grid-area: 1/1/2/3;}
#order>.orderpic
input[type=submit]{background-color: red;color: white;}
input:hover[type=submit]{background-color: black;color: blue;}
#order>.orderinfo>label{display: block;font-size: 1.5rem;margin: 1rem 0 0.25rem;}
#order .submit{grid-column: 1/3;}
@media(max-width:500px){
    #products>.drinks{display: block;text-align: center;}
    #products>.drinks>img{align-items: center;}
    header{display: block;}
    header>nav{display: flex;flex-wrap: wrap;justify-content: center; }
    header>nav>a{width: 15%;padding: 1rem 0; text-align: center;}
}